<div class="px-6 text-gray-400 dark:text-gray-300 pb-4 text-sm"
     x-show="selected === {{ list_id }}">
  <a href="{% url 'routes:my_routes' %}"
     class="flex flex-row items-center py-5 pl-4 w-full hover:text-gray-200 dark:hover:text-white">
    <div class="w-8 flex">
      <i class="fa-solid fa-route block justify-center"></i>
    </div>
    My routes
  </a>
  <a href="{% url 'routes:create_route' %}"
     class="flex flex-row items-center py-5 pl-4 w-full hover:text-gray-200 dark:hover:text-white">
    <div class="w-8 flex">
      <i class="fa-solid fa-file block justify-center"></i>
    </div>
    Create route
  </a>
</div>
