{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{# djlint:off H025 #}
<div class="fixed top-0 right-0 bottom-0 left-0 backdrop-blur-sm z-10"
     :class="filterOpen ? 'visible' : 'invisible'"
     x-on:resize.window="filterOpen = ( window.innerWidth > 1024 ) ? false : filterOpen"
     x-cloak>
  <div id="drawer-filter-my-rides"
       class="absolute top-0 left-0 bottom-0 md:w-96 w-10/12 bg-gray-100 dark:bg-gray-800 drop-shadow-2xl z-10 transition-all p-4 h-full"
       :class="filterOpen ? 'translate-x-0' : '-translate-x-full'"
       tabindex="-1">
    <h5 id="drawer-label"
        class="inline-flex items-center mb-6 text-base font-semibold text-gray-700 uppercase dark:text-gray-100">
      <svg class="w-5 h-5 text-gray-700 dark:text-gray-400"
           aria-hidden="true"
           fill="currentColor"
           viewBox="0 0 20 20"
           xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
      </svg>
      <span class="pl-4">Filter Rides</span>
    </h5>
    <button type="button"
            @click="filterOpen=false"
            class="text-gray-600 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
      <svg aria-hidden="true"
           class="w-5 h-5"
           fill="currentColor"
           viewBox="0 0 20 20"
           xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
      <span class="sr-only">Close menu</span>
    </button>
    <form id="ride-filter-form" method="get">
      {% for k, v in params.items %}
        {% if k in 'ride_leader,year,month,day' %}<input type="hidden" name="{{ k }}" value="{{ v }}" />{% endif %}
      {% endfor %}
      {% crispy form %}
    </form>
  </div>
</div>
{% render_bundle 'rideFilter' 'js' attrs='defer' %} {# djlint:on #}
