<li id="navbarLinkRides" x-data="{ open: false }">
  <div class="relative">
    <button id="dropdownNavbarLinkRide"
            x-on:click="open = ! open"
            @click.outside="open = false"
            class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium md:border-0 lg:p-0 md:w-auto text-gray-400 hover:text-white focus:text-white md:hover:bg-transparent">
      <span class="{% if app_name == 'events' %} border-b border-white{% endif %}">Rides</span>
      <svg class="w-4 h-4 ml-1"
           aria-hidden="true"
           fill="currentColor"
           viewBox="0 0 20 20"
           xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </button>
    <div id="dropdownNavbarRide"
         class="z-10 absolute lg:top-6 top-10 font-normal divide-y rounded shadow w-44 bg-gray-700 divide-gray-600"
         x-show="open"
         x-cloak>
      <ul class="py-2 text-sm text-left text-gray-400"
          aria-labelledby="dropdownLargeButton">
        {% include 'navbar/partials/large_nav/_list_item.html' with icon_name='fa-regular fa-calendar-plus' url_name='events:available_rides' link_text='Join Rides' %}
        {% include 'navbar/partials/large_nav/_list_item.html' with icon_name='fa-regular fa-calendar-check' url_name='events:my_rides' link_text='My Rides' %}
        {% include 'navbar/partials/large_nav/_list_item.html' with icon_name='fa-solid fa-users-line' url_name='events:my_waitlist' link_text='My Waitlist' %}
        {% include 'navbar/partials/large_nav/_list_item.html' with icon_name='fa-regular fa-file' url_name='events:create_event' link_text='Create a Ride' %}
      </ul>
    </div>
  </div>
</li>
