<div id="password-wrapper"
     class="relative"
     hx-swap="outerHTML"
     hx-target="this"
     {% if swap_oob %}hx-swap-oob="true"{% endif %}>
  <div id="div_id_password" class="relative">
    {% include 'users/check_form_fields/partials/_valid_checkmark.html' %}
    <input type="password"
           name="password1"
           autocomplete="new-password"
           placeholder="Password"
           value="{{ value }}"
           class="peer register-base-input {% if valid %}register-valid-input{% else %}register-invalid-input{% endif %}"
           required=""
           id="id_password1"
           hx-post="{% url 'users:register_check_password' %}" />
    <label for="id_password1"
           class="floating-label">
      Password confirmation
    </label>
    {% if not valid %}
      <p id="error_1_password" class="text-red-500 text-xs italic">
        <strong>{{ error_message }}</strong>
      </p>
    {% endif %}
  </div>
</div>
