<div id="password-confirm-wrapper"
     class="relative"
     hx-swap="outerHTML"
     hx-target="this"
     {% if swap_oob %}hx-swap-oob="true"{% endif %}>
  <div id="div_id_password2" class="relative">
    {% include 'users/check_form_fields/partials/_valid_checkmark.html' %}
    {% include "animations/request_spinner.html" with id="password2" position="right" %}
    <input type="password"
           name="password2"
           autocomplete="new-password"
           placeholder="Confirm password"
           value="{{ value }}"
           class="peer register-base-input {% if valid %}register-valid-input{% else %}register-invalid-input{% endif %}"
           required=""
           id="id_password2"
           hx-post="{% url 'users:register_check_password_confirm' %}"
           hx-trigger="keyup delay:500ms"
           hx-trigger="input changed delay:500ms"
           hx-indicator="password2" />
    <label for="id_password2" class="floating-label">Password confirmation</label>
    {% if not valid %}
      <p id="error_1_password2" class="text-red-500 text-xs italic">
        <strong>{{ error_message }}</strong>
      </p>
    {% endif %}
  </div>
</div>
