<div hx-swap="outerHTML" hx-target="this">
  <div id="div_id_username" class="relative">
    {% include 'users/check_form_fields/partials/_valid_checkmark.html' %}
    {% include "animations/request_spinner.html" with id="username" position="right" %}
    <input type="text"
           name="username"
           maxlength="150"
           placeholder="Username"
           value="{{ value }}"
           class="peer register-base-input {% if valid %}register-valid-input{% else %}register-invalid-input{% endif %}"
           required=""
           id="id_username"
           hx-post="{% url 'users:register_check_username' %}" 
           hx-trigger="input changed delay:500ms"
           hx-indicator="username"/>
    <label for="id_username" class="floating-label">Username</label>
    {% if not valid %}
      <p id="error_1_username" class="text-red-500 text-xs italic">
        <strong>{{ error_message }}</strong>
      </p>
    {% endif %}
  </div>
</div>
