<div hx-swap="outerHTML" hx-target="this">
  <div id="div_id_zip_code" class="relative">
    {% include 'users/check_form_fields/partials/_valid_checkmark.html' %}
    <input type="text"
           name="zip_code"
           maxlength="5"
           placeholder="Zip code"
           pattern="[0-9]*"
           value="{{ value }}"
           class="peer register-base-input {% if valid %}register-valid-input{% else %}register-invalid-input{% endif %}"
           required=""
           id="id_zip_code"
           hx-post="{% url 'users:register_check_zip_code' %}" />
    <label for="id_zip_code"
           class="floating-label">
      Zip code
    </label>
    {% if not valid %}
      <p id="error_1_zip_code" class="text-red-500 text-xs italic">
        <strong>{{ error_message }}</strong>
      </p>
    {% endif %}
  </div>
</div>
