<div hx-swap="outerHTML" hx-target="this">
  <div id="div_id_zip_code" class="relative">
    {% if valid %}
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
        {% include 'users/check_form_fields/partials/_success_checkmark.html' %}
      </div>
    {% endif %}
    <input type="text"
           name="zip_code"
           maxlength="5"
           placeholder="Zip code"
           pattern="[0-9]*"
           value="{{ value }}"
           class="peer h-10 w-full bg-transparent border-b-2 {% if valid %}border-green-500 dark:border-green-500 {% else %}border-red-500 dark:border-red-500  {% endif %}dark:text-gray-200 placeholder-transparent focus:outline-none"
           required=""
           id="id_zip_code"
           hx-post="{% url 'users:register_check_zip_code' %}" />
    <label for="id_zip_code"
           class="absolute left-0 -top-3.5 text-gray-600 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:dark:text-gray-300 peer-focus:text-sm">
      Zip code
    </label>
    {% if not valid %}
      <p id="error_1_zip_code" class="text-red-500 text-xs italic">
        <strong>{{ error_message }}</strong>
      </p>
    {% endif %}
  </div>
</div>
