@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary-color {
    @apply px-6 py-2.5 focus:ring-2 focus:ring-white dark:focus:ring-gray-300 bg-blue-600 text-white border border-blue-700 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out;
  }

  .btn-success-color {
    @apply px-6 py-2.5 focus:ring-2 focus:ring-white dark:focus:ring-gray-300 bg-green-500 text-white border border-green-600 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out;
  }

  .btn-danger-color {
    @apply px-6 py-2.5 focus:ring-2 focus:ring-white dark:focus:ring-gray-300 bg-red-700 hover:bg-red-800 text-white border border-red-800 font-medium text-xs leading-tight uppercase rounded shadow-md hover:shadow-lg focus:bg-red-800 focus:shadow-lg active:bg-red-900 active:shadow-lg transition duration-150 ease-in-out;
  }

  .btn-warning-color {
    @apply px-6 py-2.5 focus:ring-2 focus:ring-white dark:focus:ring-gray-300 bg-yellow-400 hover:bg-yellow-500 text-black border border-yellow-300 font-medium text-xs leading-tight uppercase rounded shadow-md hover:shadow-lg focus:bg-yellow-500 focus:shadow-lg active:bg-yellow-600 active:shadow-lg transition duration-150 ease-in-out;
  }

  .btn-dismiss-color {
    @apply px-6 py-2.5 font-medium text-xs leading-tight uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-4 transition duration-150 ease-in-out text-gray-500 bg-white hover:bg-gray-100 focus:ring-blue-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 border border-gray-200 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600;
  }

  .btn-login-signup-color {
    @apply px-6 py-2.5 font-medium text-xs leading-tight uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none transition duration-150 ease-in-out text-gray-700 bg-white hover:bg-blue-600 hover:border-blue-700 dark:hover:border-blue-700 hover:text-white focus:z-10 dark:bg-gray-700 dark:text-gray-300 border border-gray-200 dark:border-gray-500 dark:hover:text-white dark:hover:bg-blue-600;
  }

  .btn-modal-dismiss-x {
    @apply text-gray-400 bg-transparent hover:text-gray-900 dark:hover:text-white dark:text-white;
  }

  .register-base-input {
      @apply h-10 w-full bg-transparent border-b-2 dark:text-gray-200 placeholder-transparent focus:outline-none
  }

  .register-valid-input {
      @apply border-green-500 border-opacity-50 dark:border-opacity-70 dark:border-green-500
  }

  .register-invalid-input {
      @apply border-red-500 dark:border-red-500 border-opacity-70 dark:border-opacity-50
  }

  .floating-label {
      @apply absolute left-0 -top-3.5 text-gray-400 dark:text-gray-400 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:dark:text-gray-300 peer-focus:text-sm
  }
}

html[data-theme="light"],
:root {
  --iuw-background: #fff !important;
  --iuw-placeholder-text-color: #{$dashgray} !important;
  --iuw-border-color: rgb(209, 213, 219) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --iuw-background: rgb(55 65 81) !important;
    --iuw-placeholder-text-color: #aaa !important;
    --iuw-add-image-color: #ccc !important;
    --iuw-placeholder-destak-color: #417690 !important;
  }
}

html[data-theme="dark"] {
  --iuw-background: rgb(55 65 81) !important;
  --iuw-placeholder-text-color: #aaa !important;
  --iuw-add-image-color: #ccc !important;
  --iuw-placeholder-destak-color: #417690 !important;
}

.fa-custom-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

[x-cloak] {
  display: none !important;
}

.checkbox-left .form-check-input {
  margin-right: 10px; /* Adjust the spacing between the checkbox and label as needed */
}

.google-blue {
  color: #4285f4;
}

.google-green {
  color: #34a853;
}

.google-yellow {
  color: #fbbc05;
}

.google-red {
  color: #ea4335;
}

.inlinesvg .svg svg {
  display: inline;
}

.htmx-request .mag-icon {
  display: none;
}
.htmx-request.mag-icon {
  display: none;
}

.heatmap-A {
  background-color: #b01111;
  color: #ffffff;
}

.heatmap-B {
  background-color: #b4451f;
  color: #000000;
}

.heatmap-C {
  background-color: #dd9f40;
  color: #000000;
}

.heatmap-D {
  background-color: #e7d87d;
  color: #000000;
}

.heatmap-N {
  background-color: #62a1db;
  color: #000000;
}

.heatmap-NA {
  background-color: #ffffff;
  color: #000000;
}

.rotate-svg {
  transform: rotate(180deg);
}

.rotate-svg-neg-90 {
  transform: rotate(270deg);
}
