<div x-ref="privacyPopoverTemplate"
     role="tooltip"
     class="absolute z-10 invisible inline-block w-96 text-sm font-light text-gray-700 transition-opacity duration-300 bg-white border rounded-lg shadow-sm opacity-0">
  <div class="px-3 py-2">
    <p>
      <span class="font-bold">Open</span> - Anyone is free to join the club without approval. Once the club is joined, members may immediately view and join rides. Admin acion is still required to create elevated memberships such as ride leaders.
      <br />
      <br />
      <span class="font-bold">Semi-private</span> - Once joined, a non-paid membership is autuomatically created. Non-paid members can view rides but cannot join or interact with them.
      <br />
      <br />
      <span class="font-bold">Private</span> - Each membership request requires admin approval before it is activated. Requestors will not be able to view club rides until activation.
    </p>
  </div>
</div>
