{% extends "base.html" %}

{% block title %}
  GroupVelo | {{ club_name }} Members
{% endblock title %}
{% load unicorn %}
{% load to_sqid from group_velo_data_tags %}

{% block content %}
  <div class="w-full px-2">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400">
      <li id="active-tab" class="mr-2 sm:w-auto w-full">
        <a href="{% url 'clubs:club_member_management' slug=slug tab_type='active' %}"
           class="inline-flex p-4 {{ tab_classes.active.a }}">
          <svg aria-hidden="true"
               class="w-5 h-5 mr-2 {{ tab_classes.active.svg }}"
               fill="currentColor"
               viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
          </svg>
          Active
        </a>
      </li>
      <li id="inactive-tab" class="mr-2 sm:w-auto w-full">
        <a href="{% url 'clubs:club_member_management' slug=slug tab_type='inactive' %}"
           class="inline-flex p-4 {{ tab_classes.inactive.a }}"
           aria-current="page">
          <svg aria-hidden="true"
               class="w-5 h-5 mr-2 {{ tab_classes.inactive.svg }}"
               fill="currentColor"
               viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
          </svg>
          Inactive/Expired
        </a>
      </li>
      <li id="requests-tab" class="mr-2 sm:w-auto w-full">
        <a href="{% url 'clubs:club_member_management' slug=slug tab_type='requests' %}"
           class="relative inline-flex p-4 {{ tab_classes.requests.a }}">
          <div class="relative inline-flex">
            <svg aria-hidden="true"
                 class="w-5 h-5 mr-2 {{ tab_classes.requests.svg }}"
                 fill="currentColor"
                 viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z" />
            </svg>
            Join Requests
            <div id="generic-bubble-club-{{ club_id|to_sqid }}"></div>
          </div>
        </a>
      </li>
    </ul>
    <div class="mt-4">
      <span class="font-medium text-lg dark:text-gray-200">{{ club_name }}</span>
    </div>
    <div class="tab-content" id="myTabContent">
      {% if tab_type == "active" %}
        {% include 'clubs/members/modals/membership_toggle/_blank.html' %}
        {% include 'clubs/members/modals/membership_form/_blank.html' %}
        <div class="tab-pane"
             id="member-tab-active-pane"
             role="tabpanel"
             aria-labelledby="member-tab-active"
             tabindex="0">{% unicorn 'member_search' members=members slug=slug tab_type=tab_type %}</div>
      {% elif tab_type == "inactive" %}
        {% include 'clubs/members/modals/membership_toggle/_blank.html' %}
        {% include 'clubs/members/modals/membership_form/_blank.html' %}
        <div class="tab-pane"
             id="member-tab-expired-inactive-pane"
             role="tabpanel"
             aria-labelledby="member-tab-expired-inactive"
             tabindex="0">{% unicorn 'member_search' members=members slug=slug tab_type=tab_type %}</div>
      {% elif tab_type == "requests" %}
        {% include 'clubs/members/modals/membership_request_rejection/_blank.html' %}
        {% include 'clubs/members/modals/membership_form/_blank.html' %}
        <div class="tab-pane"
             id="member-tab-requests-pane"
             role="tabpanel"
             aria-labelledby="member-tab-requests"
             tabindex="0">{% unicorn 'member_request_search' reqs=reqs slug=slug tab_type=tab_type %}</div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
