{% load to_sqid from group_velo_data_tags %}

<div class="grid gap-2 grid-cols-12 py-2">
  {% for contact in emergency_contacts %}
    <div class="col-span-12"
         id="emergency-contact-row-{{ contact.id|to_sqid }}">
      <div class="w-full col-span-12">
        <span class="font-bold pr-2 text-gray-800 dark:text-gray-100 contact-title">Contact #{{ forloop.counter }}</span>
      </div>
      <div class="grid gap-2 grid-cols-12 pb-2">
        <div class="col-span-12">
          <div class="grid gap-2 grid-cols-12 pb-2">
            <div id="div_id_name" class="col-span-4">
              <label for="emergency_contact_name"
                     class="block text-sm font-bold  text-gray-800 dark:text-gray-100">Name</label>
              <div class="w-full block appearance-none text-gray-600 dark:text-gray-300 py-1"
                   id="emergency_contact_name">{{ contact.name }}</div>
            </div>
            <div id="div_id_phone_number" class="col-span-4">
              <label for="emergency_contact_phone_number"
                     class="block text-sm font-bold text-gray-800 dark:text-gray-100">Phone Number</label>
              <div class="w-full block appearance-none text-gray-600 dark:text-gray-300 py-1"
                   id="emergency_contact_phone_number">{{ contact.phone_number.as_national }}</div>
            </div>
            <div id="div_id_relationship" class="col-span-4">
              <label for="emergency_contact_phone_number"
                     class="block text-sm font-bold text-gray-800 dark:text-gray-100">Relationship</label>
              <div class="w-full block appearance-none text-gray-600 dark:text-gray-300 py-1"
                   id="emergency_contact_relationship">{{ contact.get_relationship_display }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
