{% load abbreviate from group_velo_clubs_tags %}
{% load to_sqid from group_velo_data_tags %}

<div x-show="!showLarge && selected !== '{{ event_occurence.id|to_sqid }}'"
     @click="if ( screenIsSmall ) { selected = (selected === '{{ event_occurence.id|to_sqid }}' ? null : '{{ event_occurence.id|to_sqid }}') }"
     x-tooltip.raw.placement.auto="{{ event_occurence.route.start_location_name }}"
     class="relative mb-4 mx-2 hover:ring-1 hover:ring-gray-500 dark:hover:ring-gray-400 rounded-lg bg-white shadow-lg dark:shadow dark:shadow-gray-700 dark:bg-gray-600 dark:text-gray-200 dark:border-gray-600 px-6 py-2 cursor-pointer">
  <div class="flex relative items-center justify-between">
    <div class="flex flex-col relative align-middle justify-items-center">
      <div class="inline-block w-16 h-16 heatmap-{{ event_occurence.group_classification }} rounded-full flex justify-center items-center shadow-md">
        <span class="text-3xl font-extrabold">{{ event_occurence.group_classification }}</span>
      </div>
      <span class="inline-block sm:text-2xl text-xl font-extrabold text-center">{{ event_occurence.route.distance|floatformat:"0" }}mi.</span>
    </div>
    <div class="flex flex-col">
      <span class="sm:text-2xl text-xl font-extrabold align-middle text-center">{{ event_occurence.ride_date|date:"D"|upper }}-{{ event_occurence.ride_date|date:"d" }}</span>
      <span class="text-xl font-extrabold align-middle text-center">{{ event_occurence.ride_time|time:"g:iA" }}</span>
      <span class="text-xs font-light align-middle text-center">{{ event_occurence.occurence_name }}</span>
    </div>
    {% if event_occurence.club %}
      <span class="sm:text-2xl text-xl font-extrabold align-middle"
            x-tooltip.raw.placement.left="{{ event_occurence.club.name }}">
        {% if event_occurence.club.abbreviation %}
          {{ event_occurence.club.abbreviation }}
        {% else %}
          {{ event_occurence.club.name|abbreviate }}
        {% endif %}
      </span>
    {% endif %}
  </div>
</div>
