<div class="grid gap-2 md:grid-cols-12 pb-0" id="generic-row">
  <button class="btn my-2 mx-2 xl:col-span-4 lg:col-span-6 col-span-12 bg-white hover:bg-blue-200 border border-blue-300 text-blue-500 font-semibold py-2 px-4 rounded shadow mb-4">
    <a href="{% provider_login_url 'google' %}?next=/">
      <i class="fab fa-google fa-custom-google"></i>
      Login with <span class="google-blue">G</span><span class="google-red">o</span><span class="google-yellow">o</span><span class="google-blue">g</span><span class="google-green">l</span><span class="google-red">e</span>
    </a>
  </button>
</div>
