<div x-ref="membershipPopoverTemplate"
     role="tooltip"
     class="absolute z-10 invisible inline-block w-96 text-sm font-light text-gray-700 transition-opacity duration-300 bg-white border rounded-lg shadow-sm opacity-0">
  <div class="px-3 py-2">
    <p>
      <em>Each role includes the abilities of the roles below them, even if not explicitly specified.</em>
      <br />
      <br />
      <span class="font-bold">Creator</span> - The founder of the club. Has complete management control over the club, including the ability to disband it altogether. Once made a creator, the member cannot be removed or demoted to a lesser role.
      <br />
      <br />
      <span class="font-bold">Admin</span> - Can modify members' roles, respond to membership requests, and remove members.
      <br />
      <br />
      <span class="font-bold">Ride Leader</span> - Can create events and rides that are associated with the club.
      <br />
      <br />
      <span class="font-bold">Route Contributor</span> - Can create routes to be used in rides that are associated with the club. Any route created by a <em>Route Contributor</em> are available to all <em>Ride Leader</em>s for use in their rides.
      <br />
      <br />
      <span class="font-bold">Paid Member</span> - Can join members-only rides that are associated with the club.
      <br />
      <br />
      <span class="font-bold">Unpaid Member</span> - Can view club rides but cannot join them unles they are set to &#39Open&#39.
      <br />
      <br />
      <span class="font-bold">Non-Member</span> - Has no club priveleges.
    </p>
  </div>
</div>
