{# djlint:off H021 #}
<div class="inline-block">
  <div class="svg">
    <?xml version="1.0" encoding="utf-8"?>
    <svg viewBox="277.7812 95.4303 22.5 22.5"
         width="22"
         height="22 "
         xmlns="http://www.w3.org/2000/svg">
      <g fill="none" stroke="#22AE73" stroke-width="2" transform="matrix(0.15372100472450256, 0, 0, 0.15372100472450256, 277.0126037597656, 94.66174316406253)" style="">
      <circle cx="77" cy="77" r="72" style="stroke-dasharray:480px, 480px; stroke-dashoffset: 960px;" />
      <circle id="colored" fill="#22AE73" cx="77" cy="77" r="72" style="stroke-dasharray:480px, 480px; stroke-dashoffset: 960px;" />
      <polyline class="st0" stroke="#fff" stroke-width="10" points="43.5,77.8 63.7,97.9 112.2,49.4 " style="stroke-dasharray:100px, 100px; stroke-dashoffset: 200px;" />
      </g>
    </svg>
  </div>
</div>
{# djlint:on #}
