<table id="my-notifications-table"
       class="w-full shadow-lg text-sm text-left text-gray-700 dark:text-gray-400 bg-white">
  <thead id="my-notifications-table-head"
         class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-100">
    <tr>
      <th scope="col"
          class="px-6 py-3 cursor-pointer"
          data-original-text="Route Name">
        <div class="flex items-center">
          <input id="checkbox-all"
                 type="checkbox"
                 class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
          <label for="checkbox-all-search" class="sr-only">checkbox</label>
        </div>
      </th>
      <th scope="col"
          class="px-6 py-3 cursor-pointer"
          data-original-text="Route Name">
        <div class="flex items-center">Type</div>
      </th>
      <th scope="col"
          class="px-6 py-3 cursor-pointer"
          data-original-text="Route Name">
        <div class="flex items-center">Subject</div>
      </th>
      <th scope="col"
          class="px-6 py-3 cursor-pointer"
          data-original-text="Club">
        <div class="flex items-center">Notification Date</div>
      </th>
    </tr>
  </thead>
  <tbody id="my-notificatios-table-body">
    {% with notifications=pagination.item_list %}
      {% for notification in notifications %}
        {% include 'notifications/partials/notifications_table/_notifications_table_row.html' with notification=notification %}
      {% endfor %}
    {% endwith %}
  </tbody>
</table>
