{# djlint:off H017 #}
<div hx-get="{% url 'weather:check_task_status' task_id=task_id %}"
     hx-swap="outerHTML"
     hx-trigger="every 1s"
     class="flex items-center gap-1 text-sm">
  <span class="ml-1 text-small text-gray-500">•</span>
  <svg class="h-4 w-4 text-gray-500"
       viewBox="0 0 24 24"
       xmlns="http://www.w3.org/2000/svg">
    <path fill="currentColor" d="M12,4a8,8,0,0,1,7.89,6.7A1.53,1.53,0,0,0,21.38,12h0a1.5,1.5,0,0,0,1.48-1.75,11,11,0,0,0-21.72,0A1.5,1.5,0,0,0,2.62,12h0a1.53,1.53,0,0,0,1.49-1.3A8,8,0,0,1,12,4Z">
    <animateTransform attributeName="transform" type="rotate" dur="0.75s" values="0 12 12;360 12 12" repeatCount="indefinite" />
    </path>
  </svg>
  <span class="text-gray-500 text-xs">Loading weather...</span>
</div>
{# djlint:on #}
<script>
  document.body.addEventListener('htmx:afterRequest', function(evt) {
    const status = evt.detail.xhr.status;
    const target = evt.detail.target;

    if (status !== 202) {
      evt.detail.shouldSwap = false;
    }
  });
</script>
