{% load static %}
{% load to_sqid from group_velo_data_tags %}

<div id="routeSelectContainer" class="p-4 space-y-2">
  <div>
    <span class="text-gray-700 dark:text-gray-300 font-light">Filter Routes</span>
  </div>
  <div class="grid md:grid-cols-12 gap-2">
    <div class="md:col-span-6 col-span-12">
      <div class="bg-transparent">
        <label for="route_name_text" class="sr-only">Search route name</label>
        <div class="relative mt-1">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-5 h-5 text-gray-500 dark:text-gray-400"
                 aria-hidden="true"
                 fill="currentColor"
                 viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
            </svg>
          </div>
          <input unicorn:model="route_name"
                 id="route_name_text"
                 class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500 shadow-lg dark:bg-gray-700 dark:border-gray-500 dark:text-gray-200"
                 placeholder="Route name" />
        </div>
      </div>
    </div>
    <div class="md:col-span-6 col-span-12">
      <div class="bg-transparent">
        <label for="created_by_text" class="sr-only">Search created by</label>
        <div class="relative mt-1">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-5 h-5 text-gray-500 dark:text-gray-400"
                 aria-hidden="true"
                 fill="currentColor"
                 viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
            </svg>
          </div>
          <input unicorn:model.debounce-500="created_by"
                 id="created_by_text"
                 class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500 shadow-lg dark:bg-gray-700 dark:border-gray-500 dark:text-gray-200"
                 placeholder="Created by" />
        </div>
      </div>
    </div>
  </div>
  <div class="grid md:grid-cols-12 gap-2 mb-4">
    <div class="md:col-span-6 col-span-12">
      <div class="bg-transparent">
        <label for="mdistance_lt_text" class="sr-only">Distance less than</label>
        <div class="relative mt-1">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <i class="fa-solid fa-ruler-horizontal w-5 h-5 text-gray-500 dark:text-gray-400"></i>
          </div>
          <input unicorn:model.debounce-500="distance_lt"
                 id="distance_lt_text"
                 class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500 shadow-lg dark:bg-gray-700 dark:border-gray-500 dark:text-gray-200"
                 placeholder="Distance less than/equal" />
        </div>
      </div>
    </div>
    <div class="md:col-span-6 col-span-12">
      <div class="bg-transparent">
        <label for="distance_gt_text" class="sr-only">Distance greater than</label>
        <div class="relative mt-1">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <i class="fa-solid fa-ruler-horizontal w-5 h-5 text-gray-500 dark:text-gray-400"></i>
          </div>
          <input unicorn:model.debounce-500="distance_gt"
                 id="distance_gt_text"
                 class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500 shadow-lg dark:bg-gray-700 dark:border-gray-500 dark:text-gray-200"
                 placeholder="Distance greater than/equal" />
        </div>
      </div>
    </div>
  </div>
  <div class="relative overflow-y-auto rounded-lg shadow-md my-6 max-h-80">
    <table class="w-full shadow-lg text-sm text-left text-gray-700 dark:text-gray-400 bg-white dark:border dark:border-gray-600">
      <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-100">
        <tr>
          <th scope="col" class="px-6 py-3"></th>
          <th scope="col" class="px-6 py-3">Route Name</th>
          <th scope="col" class="px-6 py-3">Created By</th>
          <th scope="col" class="px-6 py-3">Distance</th>
          <th scope="col" class="px-6 py-3">Elevation</th>
          <th scope="col" class="px-6 py-3">Start Location</th>
        </tr>
      </thead>
      <tbody>
        {% for route in filtered_routes.routes %}
          <tr id="route-{{ route.id|to_sqid }}"
              class="bg-white border-b group dark:bg-gray-800 dark:border-gray-700 text-gray-500 dark:text-gray-300 cursor-pointer route-row hover:text-black dark:hover:text-white"
              data-has-map="{{ good_url }}">
            <td>
              <a class="p-4" href="{{ route.url }}" target="_blank"><i class="fa-regular fa-eye"></i></a>
            </td>
            <td class="px-6 py-4"
                onclick='routeSelectClick(this, "{{ route.url }}", "{{ route.id|to_sqid }}", "{{ route.name }}")'
                @click="routeSelectModalOpen=false">{{ route.name }}</td>
            <td class="px-6 py-4"
                onclick='routeSelectClick(this, "{{ route.url }}", "{{ route.id|to_sqid }}", "{{ route.name }}")'
                @click="routeSelectModalOpen=false">{{ route.created_by.name }}</td>
            <td class="px-6 py-4"
                onclick='routeSelectClick(this, "{{ route.url }}", "{{ route.id|to_sqid }}", "{{ route.name }}")'
                @click="routeSelectModalOpen=false">{{ route.distance }} mi.</td>
            <td class="px-6 py-4"
                onclick='routeSelectClick(this, "{{ route.url }}", "{{ route.id|to_sqid }}", "{{ route.name }}")'
                @click="routeSelectModalOpen=false">{{ route.elevation }} ft.</td>
            <td class="px-6 py-4"
                onclick='routeSelectClick(this, "{{ route.url }}", "{{ route.id|to_sqid }}", "{{ route.name }}")'
                @click="routeSelectModalOpen=false">{{ route.start_location_name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="flex justify-center gap-2">
    <a href="{% url 'routes:create_route' %}"
       class="w-1/2 text-center text-gray-500 shadow-lg bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
      <i class="fa-solid fa-plus text-green-500"></i>
      Add New Route
    </a>
    <button id="hideRouteModalButton"
            @click="routeSelectModalOpen=false"
            type="button"
            class="w-1/2 text-gray-500 shadow-lg bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
      Close
    </button>
  </div>
</div>
