{% load add_params_dict_to_string from group_velo_users_tags %}

{% if is_registered %}
  <a href="{% url 'events:my_rides' %}?{% add_params_dict_to_string filter_data.query_params 'ride_leader' leader.slug %}">
    {% include 'events/ride_card/partials/_linked_leader_name.html' %}
  </a>
{% else %}
  <a href="{% url 'events:available_rides' %}?{% add_params_dict_to_string filter_data.query_params 'ride_leader' leader.slug %}">
    {% include 'events/ride_card/partials/_linked_leader_name.html' %}
  </a>
{% endif %}
