{% for leader in event_occurence.ride_leader_name %}
  {% if event_occurence.ride_leader_name|length == 1 %}
    {% include 'events/ride_card/partials/_anchor_leader_name.html' %}
  {% elif event_occurence.ride_leader_name|length == 2 %}
    {% if forloop.first %}
      {% include 'events/ride_card/partials/_anchor_leader_name.html' %}
    {% elif forloop.last %}
      and
      {% include 'events/ride_card/partials/_anchor_leader_name.html' %}
    {% endif %}
  {% elif event_occurence.ride_leader_name|length > 2 %}
    {% if forloop.first %}
      {% include 'events/ride_card/partials/_anchor_leader_name.html' %}
    {% elif forloop.last %}
      , and
      {% include 'events/ride_card/partials/_anchor_leader_name.html' %}
    {% else %}
      ,
      {% include 'events/ride_card/partials/_anchor_leader_name.html' %}
    {% endif %}
  {% endif %}
{% empty %}
  no one
{% endfor %}
