{% load to_sqid from group_velo_data_tags %}

<form method="post"
      action="{% url 'events:ride_comments_click' event_occurence_sqid=event_occurence.id|to_sqid %}"
      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
  {% csrf_token %}
  {% load group_velo_events_tags %}

  {% url 'events:ride_comments' ride.id|to_sqid as temp_url %}
  {% if new_message_count > 0 %}
    <li>
      <button type="submit" href="#">
        <span class="mr-2">Ride Discussion</span>
        <span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-100 bg-red-600 rounded-full">{{ new_message_count }}</span>
      </button>
    </li>
  {% else %}
    <li>
      <button type="submit" href="#">Ride Discussion</button>
    </li>
  {% endif %}
</form>
