{% load params_dict_to_string from group_velo_users_tags %}

{% for applied_filter in filter_data.applied_filters %}
  {% with current_count=forloop.counter %}
    {% for val in applied_filter.param_vals %}
      {% if val %}
        <div class="inline-flex mb-2 shadow-lg h-6 max-w-max cursor-default items-center justify-start gap-1 rounded-[64px] px-2 py-1 text-center text-xs font-semibold leading-relaxed border border-blue-700 text-blue-700 stroke-blue-700 dark:bg-transparent dark:border-blue-600 dark:text-white dark:stroke-white has-[:hover]:ring-1 has-[:hover]:ring-red-600 has-[:hover]:dark:ring-red-600 has-[:hover]:border-red-600 has-[:hover]:text-red-600 has-[:hover]:dark:border-red-600 has-[:hover]:dark:text-red-600">
          <span class="mr-4 pointer-events-none">{{ applied_filter.name }}: <span class="font-light">{{ val }}</span></span>
          <div onClick="window.location.href='{% url url_name %}?{% params_dict_to_string applied_filter.param_names val filter_data.query_params %}'"
               class="inline-flex size-[18px] items-center justify-end overflow-hidden">
            <svg width="16"
                 height="16"
                 viewBox="0 0 16 16"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg"
                 stroke-width="1.5"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 class="size-4 cursor-pointer hover:stroke-2 hover:stroke-red-600">
              <path d="m12 4-8 8m8 0L4 4" />
            </svg>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endwith %}
{% endfor %}
